<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best For You Organics</title>
    <base href="/" />
    <link href="css/fabric-icons-inline.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BestForYouRecipes.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a class="reload">Reload</a>
        <a class="dismiss">X</a>
    </div>

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>